Source: openplotter-sdr-vhf
Section: misc
Priority: optional
Maintainer: Sailoog <info@sailoog.com>
Build-Depends: debhelper (>=9),dh-python,python3-all,python3-setuptools
Standards-Version: 3.9.6
Homepage: https://github.com/openplotter/openplotter-sdr-vhf
X-Python3-Version: >= 3.2

Package: openplotter-sdr-vhf
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends}, openplotter-settings, libfftw3-dev, libtool, librtlsdr-dev, rtl-sdr, python3-pip
Description: Suite of applications for SDR reception in VHF range
 Suite of applications for SDR reception in VHF range
